<section>
    <h2>Forum de discussion</h2>
    <table>
        <thead>
            <tr>
                <th>Id message</th>
                <th>Message</th>
                <th>Auteur</th>
                <th>Nb de likes</th>
                <th>Envie de like ?</th>
            </tr>
        </thead>
        {{#each listmess}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.message}}</td>
                <td>{{this.auteur}}</td>
                <td>{{this.nblike}}</td>
                <td>
                    <form action="/forum/like", name="augmentlike">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="LIKER">
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</section>
<section>
    <h2>Laissez un message</h2>
    <form method="post" action="/forum/addmess">
    <div>
        <label>Message :</label>
        <input type="text" name="message">
    </div>
    <div>
        <label>Auteur :</label>
        <input type="text" name="auteur">
    </div>
    <input type="submit" value="Envoyer">
    </form>
</section>