<section>
    <h3>Page Admin</h3>
    <table>
        <thead>
            <tr>
                <th>Id utilisateur</th>
                <th>Nom utilisateur</th>
                <th>Prénom utilisateur</th>
                <th>Email utilisateur</th>
                <th>Admin ?</th>
                <th>Compte Actif ?</th>
                <th></th>
            </tr>
        </thead>
        {{#each users}}
            <tr>
                <td>{{this.user_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.firstname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.admin}}</td>
                <td>{{this.user_actif}}</td>
                <td>
                    {{#if (eq this.admin 0)}}
                        {{#if (eq this.user_actif 1)}}
                            <form action="/admin/deactivate" method="post">
                                <input type="hidden" name="id" value="{{this.user_id}}">
                                <input type="submit" value="desactiver">
                            </form>
                        {{else}}
                            <form action="/admin/activate" method="post">
                                <input type="hidden" name="id" value="{{this.user_id}}">
                                <input type="submit" value="activer">
                            </form>
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </table>
</section>